@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.967 0.003 264.542);
  --foreground: oklch(0.37 0.013 285.805);
  --card: oklch(0.985 0.002 247.839);
  --card-foreground: oklch(0.21 0.006 285.885);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.278 0.033 256.848);
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.922 0 0);
  --secondary-foreground: oklch(0.442 0.017 285.786);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.21 0.006 285.885);
  --accent: oklch(0.928 0.006 264.531);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.21 0.006 285.885);
  --destructive-foreground: oklch(0.985 0.002 247.839);
  --border: oklch(0.872 0.01 258.338);
  --input: oklch(0.707 0.022 261.325);
  --ring: oklch(0.905 0.182 98.111);
  --chart-1: oklch(0.588 0.158 241.966);
  --chart-2: oklch(0.627 0.265 303.9);
  --chart-3: oklch(0.723 0.219 149.579);
  --chart-4: oklch(0.459 0.187 3.815);
  --chart-5: oklch(0.872 0.01 258.338);
  --sidebar: oklch(0.967 0.003 264.542);
  --sidebar-foreground: oklch(0.37 0.013 285.805);
  --sidebar-primary: oklch(0.928 0.006 264.531);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.928 0.006 264.531);
  --sidebar-accent-foreground: oklch(0.37 0.013 285.805);
  --sidebar-border: oklch(0.967 0.003 264.542);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.24;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0px 3px 8px 0px hsl(0 0% 0% / 0.12);
  --shadow-xs: 0px 3px 8px 0px hsl(0 0% 0% / 0.12);
  --shadow-sm: 0px 3px 8px 0px hsl(0 0% 0% / 0.24), 0px 1px 2px -1px hsl(0 0% 0% / 0.24);
  --shadow: 0px 3px 8px 0px hsl(0 0% 0% / 0.24), 0px 1px 2px -1px hsl(0 0% 0% / 0.24);
  --shadow-md: 0px 3px 8px 0px hsl(0 0% 0% / 0.24), 0px 2px 4px -1px hsl(0 0% 0% / 0.24);
  --shadow-lg: 0px 3px 8px 0px hsl(0 0% 0% / 0.24), 0px 4px 6px -1px hsl(0 0% 0% / 0.24);
  --shadow-xl: 0px 3px 8px 0px hsl(0 0% 0% / 0.24), 0px 8px 10px -1px hsl(0 0% 0% / 0.24);
  --shadow-2xl: 0px 3px 8px 0px hsl(0 0% 0% / 0.6);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.21 0.006 285.885);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.274 0.006 286.033);
  --card-foreground: oklch(0.967 0.003 264.542);
  --popover: oklch(0.274 0.006 286.033);
  --popover-foreground: oklch(0.967 0.003 264.542);
  --primary: oklch(0.905 0.182 98.111);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.922 0 0);
  --secondary-foreground: oklch(0.13 0.028 261.692);
  --muted: oklch(0.21 0.006 285.885);
  --muted-foreground: oklch(0.872 0.01 258.338);
  --accent: oklch(0.37 0.013 285.805);
  --accent-foreground: oklch(0.905 0.182 98.111);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.442 0.017 285.786);
  --ring: oklch(0.905 0.182 98.111);
  --chart-1: oklch(0.627 0.194 149.214);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.588 0.158 241.966);
  --chart-4: oklch(0.381 0.176 304.987);
  --chart-5: oklch(0.459 0.187 3.815);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.872 0.01 258.338);
  --sidebar-primary: oklch(0.37 0.013 285.805);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.141 0.005 285.823);
  --sidebar-accent-foreground: oklch(0.872 0.01 258.338);
  --sidebar-border: oklch(0.982 0.018 155.826);
  --sidebar-ring: oklch(0.928 0.006 264.531);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.24;
  --shadow-color: oklch(0.141 0.005 285.823);
  --shadow-2xs: 0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.12);
  --shadow-xs: 0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.12);
  --shadow-sm:
    0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.24),
    0px 1px 2px -1px hsl(240.1022 11.2443% 3.9839% / 0.24);
  --shadow:
    0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.24),
    0px 1px 2px -1px hsl(240.1022 11.2443% 3.9839% / 0.24);
  --shadow-md:
    0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.24),
    0px 2px 4px -1px hsl(240.1022 11.2443% 3.9839% / 0.24);
  --shadow-lg:
    0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.24),
    0px 4px 6px -1px hsl(240.1022 11.2443% 3.9839% / 0.24);
  --shadow-xl:
    0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.24),
    0px 8px 10px -1px hsl(240.1022 11.2443% 3.9839% / 0.24);
  --shadow-2xl: 0px 3px 8px 0px hsl(240.1022 11.2443% 3.9839% / 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}
